<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" >
		<title>Startup 4.0 - One Page</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/signi/favicon.png" type="image/x-icon">
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Inter:100,200,300,400,600,500,700,800,900|Inter:100,200,300,400,500,600,700,800,900" rel="stylesheet">
		<!-- Bootstrap 4.3.1 CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- Slick 1.8.1 jQuery plugin CSS (Sliders) -->
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
		<!-- Fancybox 3 jQuery plugin CSS (Open images and video in popup) -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
		<!-- AOS 2.3.4 jQuery plugin CSS (Animations) -->
		<link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
		<!-- FontAwesome CSS -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<!-- Startup 3 CSS (Styles for all blocks) -->
		<link href="/sign/css/style.css" rel="stylesheet" />
		<!-- jQuery 3.3.1 -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	</head> 
	<body>
		<!-- Navigation 8 -->
		

		<!-- Application 21 -->
		<section class="pt-100 pb-100 bg-light application_21">
			<div class="container px-xl-0">
				<div class="mb-md-5 row justify-content-between align-items-center align-items-xl-start">
					<div class="col-md-7 col-xl-6">
						<div class="pb-15 color-heading f-22 medium op-7"><div>MobileKart</div></div>
						<h2 class="text-adaptive">Our Experienced Faculty is Here to Guide You</h2>
					</div>
					<div class="col-md-5 col-xl-6">
						<img src="/sign/i/application_21_img_1.png" srcset="/signi/application_21_img_1@2x.png 2x" alt="" class="img-fluid mt-30 mt-md-0" />
					</div>
				</div>
				<div class="mt-20 mt-md-0 row">
					<div class="mt-30 col-md-4 no-gutters">
						<div class="pb-10 color-heading f-14 bold text-uppercase sp-20">01</div>
						<div class="pb-15 color-main f-32 bold">Mobile Parts</div>
						<div class="col-xl-9 color-heading f-18 medium op-7 text-adaptive">						<div>
Mobile Hardware accessories is for sale
						</div>
						</div>
					</div>
					<div class="mt-30 col-md-4 no-gutters">
						<div class="pb-10 color-heading f-14 bold text-uppercase sp-20">02</div>
						<div class="pb-15 color-main f-32 bold">Accessories</div>
						<div class="col-xl-9 color-heading f-18 medium op-7 text-adaptive">						<div>
we will take care of your mobiles and customer satisfaction is our satisfaction
						</div>
						</div>
					</div>
					<div class="mt-30 col-md-4 no-gutters">
						<div class="pb-10 color-heading f-14 bold text-uppercase sp-20">03</div>
						<div class="pb-15 color-main f-32 bold">Mobiles</div>
						<div class="col-xl-9 color-heading f-18 medium op-7 text-adaptive">						<div>
Available flashship mobiles and lowend devices also.
						</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Feature 45 -->
		<section class="pt-105 pb-70 bg-light feature_45">
			<div class="container px-xl-0">
				<div class="row justify-content-center">
					<div class="col-xl-8 col-lg-10 text-center">
						<h2 class="mb-25 small">Best Products Available</h2>
						<div class="mb-60 f-22 color-heading text-adaptive description">Whether your goal is to teach or simply uncover new depths in your practice, YogaWorks 200-Hour Yoga Teacher Training.
						</div>
					</div>
				</div>
				<div class="row justify-content-center justify-content-lg-between no-gutters">
					<div class="col-xl-7 col-lg-6 col-md-8">
						<img src="/sign/i/feature_45_img.jpg" srcset="i/feature_45_img@2x.jpg 2x" alt="" class="mb-50 mb-lg-0 img-fluid radius10" />
					</div>
					<div class="mt-10 col-lg-5">
						<div class="row justify-content-center text-center text-md-left">
							<div class="mb-45 col-lg-12 col-md-4 col-sm-8 block">
								<div class="mb-15 f-22 title">6+ years</div>
								<div class="color-heading text-adaptive">We have 6+ Years of Expriences and we have good services Available
								</div>
							</div>
							<div class="mb-45 col-lg-12 col-md-4 col-sm-8 block">
								<div class="mb-15 f-22 title">4+ Districts</div>
								<div class="color-heading text-adaptive">Our shop is growing day by day.
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Application 18 -->
		<section class="pt-100 pb-100 bg-light application_18">
			<div class="container px-xl-0">
				<div class="row">
					<div class="col-md-6 col-lg-6 col-xl-5 no-gutters d-flex flex-column justify-content-between">
						<div class="top no-gutters">
							<div class="pt-30 pb-25 color-main f-32 bold text-adaptive">MobileKart
							</div>
							<div class="col-lg-10 color-heading f-18 medium text-adaptive">Feel free to contact us.we are at your service
							</div>
						</div>
						<div class="mt-30 row align-items-center no-gutters bottom">
							<img src="/sign/i/application_18_img_2.png" srcset="i/application_18_img_2@2x.png 2x" alt="" class="mr-15" />
							<div class="col-10 color-main f-14 medium text-adaptive">We providing you a best service for your mobile.
							</div>
						</div>
					</div>
					<div class="mt-50 mt-md-0 col-md-6 col-lg-6 col-xl-7 d-flex justify-content-center justify-content-md-end align-items-center no-gutters">
						<img src="/sign/i/application_18_img_1.png" srcset="i/application_18_img_1@2x.png 2x" alt="" class="img-fluid" />
					</div>
				</div>
			</div>
		</section>

		<!-- Content 33 -->
		
		<!-- Content 16 -->
		

		<!-- Content 3 -->
		

		<!-- Footer 9 -->
		

		<!-- forms alerts -->
		
		<!-- gReCaptcha popup (uncomment if you need a recaptcha integration) -->
		<!--
		<div class="bg-dark op-8 grecaptcha-overlay"></div>
		<div class="bg-light radius10 w-350 h-120 px-20 pt-20 pb-20 grecaptcha-popup">
			<div class="w-full h-full d-flex justify-content-center align-items-center">
				<div id="g-recaptcha" data-sitekey="PUT_YOUR_SITE_KEY_HERE"></div>
			</div>
		</div>
		<script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
		-->
		<!-- Bootstrap 4.3.1 JS -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
		<!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
		<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
		<!-- Google maps JS API -->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDP6Ex5S03nvKZJZSvGXsEAi3X_tFkua4U"></script>
		<!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
		<!-- AOS 2.3.4 jQuery plugin JS (Animations) -->
		<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
		<!-- Maskedinput jQuery plugin JS (Masks for input fields) -->
		<script src="/sign/js/jquery.maskedinput.min.js"></script>
		<!-- Startup 3 JS (Custom js for all blocks) -->
		<script src="/sign/js/script.js"></script>
	</body>
</html>
