<section>
    <img style="margin-left:620px; margin-top:28px" src="/images/cart2.png" alt="">
    <p style="font-weight: bold;font-size:40px;margin-left:830px">Your Cart Is Empty</p>
    <a href="/"><button type="button" class="btn btn-warning " style="margin-top: 60px; margin-left:958px">View Products</button></a>
</section>