<section>
    
    <img style="margin-left: 340px; margin-top:10px;background-color:#1eb357;" src="https://i.postimg.cc/wxLjBfRZ/image-1-1.png" alt="">
</section>
<style>
    .body{
    background-color:#1eb357;
}
</style>